body {
  background-color: #80ed99;
}
form {
  margin-top: 8%;
}
div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(20, 13, 13, 1);
  align-content: center;
  align-items: center;
  max-width: 400px;
  align-items: center;
  text-align: center;
  border: 1px solid;
  /* padding: 10px; */
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  margin-top: 5%;
}
button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
h1 {
  padding-left: 10px;
  padding-right: 10px;
}
input {
  height: 4vh;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(20, 13, 13, 0.5);
}

.result {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px white;
  font-size: 1.5rem;
}
.text {
  text-align: center;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 4em;
  /* margin-top: ; */
  font-weight: 700;
  color: #1d0000;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media (max-width: 480px) {
  .text {
    font-size: 3rem;
    font-weight: 25px;
  }
  div {
    max-width: 100%;

    width: 100%;
  }
}
